@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  background-color: #000000;

}

/* .testimonial-card {
    border: 1px solid transparent;
    background: linear-gradient(232.47deg, rgb(12 22 25) 3.63%, rgb(12 22 25) 69.57%);
    padding: 20px;
    color: #fff;
    border-radius: 5px;
} */

.testmonila{
    background-color: #051219;
    /* background: linear-gradient(180deg, rgba(54, 176, 224, 0.09) 56.92%, rgba(54, 176, 224, 0) 100%); */
    background: linear-gradient(1deg, #080404 56.92%, rgb(13 46 53) 100%);
}

.lightmode{
  background: #f0f0f0;
}


/* .feature{
    background-color: #152129;
   border: 1px solid rgb(28, 28, 36);
    background: linear-gradient(191deg, rgb(33 83 109 / 67%) 3.63%, rgb(6 10 19) 69.57%);
} */
.custom-border{
    background-color: #12346d;
    background-image: linear-gradient(73deg, #12346d 0%, #29cae3 100%);
    
}


.moving-border, .moving-border1 {
  width: fit-content;
  position: relative;
  background: #000000;
  z-index: 1;
  padding: 1px;
  border-radius: 10px;
}

.moving-border::before,
.moving-border::after,
.moving-border1::before,
.moving-border1::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
}

.moving-border::before {
  background: linear-gradient(to right, #9000de, #1a85c3, #050811, #050811, #050811, #1a85c3, #9000de);
  background-size: 100%;
}

.moving-border1::before {
  background: linear-gradient(to right, #9000de, #1a85c3, #f0f0f0, #f0f0f0, #f0f0f0, #1a85c3, #9000de);
  background-size: 100%;
}

.moving-border::after {
  filter: blur(10px);
}

.moving-border1::after {
  filter: blur(10px);
}


.dark .moving-border {
  background: #10131b;
}

.dark .moving-border::before {
  background: linear-gradient(to right, #9000de, #1a85c3, #050811, #050811, #050811, #1a85c3, #9000de);
}

.dark .moving-border1::before {
  background: linear-gradient(to right, #9000de, #1a85c3, #050811, #050811, #050811, #1a85c3, #9000de);
}


@keyframes border-travel {
  0% {
    background-position: 0% 50%; /* Start at left */
  }
  100% {
    background-position: 100% 50%; /* Move to right */
  }
}

  .afterhomebg{
    background-color: #071653;
    background-image: linear-gradient(119deg, #071653 0%, #04063a 100%);
    
  }
  .projectbg{
    background: linear-gradient( #09032a26 15%, #05101426 15%);
}
  
.bg-projectmainbg-custom {
  background-color: #071f46;
  background-image: linear-gradient(357deg, #091322 9%, #041215bd 0%);
}

.lightbg{
  background-color: white;
}
  


.trapezoid1 {
  position: relative;
  padding: 2rem;
  clip-path: polygon(0% -2%, 52% 13%, 100% -1%, 100% 100%, 48% 91%, 0% 101%);
}



.customCursor{
  color: white;
}
.customCursorlg{
  color: black;
}


@keyframes rotate1 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Card Base Styles */
.card .inner {
  background: #f9fafb; /* Default Light Background */
  color: #222; /* Default Light Text Color */
}

.dark .card .inner {
  background: #222; /* Dark Mode Background */
  color: #fff; /* Dark Mode Text Color */
}

/* Example-2 Styles */
.example-2 {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.example-2 .inner {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 1px;
  padding: 6px 17px;
}

/* Gradient Animation */
.example-2::before {
  content: "";
  display: block;
  background: linear-gradient(
    90deg,
    rgba(16, 12, 12, 0.75) ,
  
    #ffffffe6 
  );
  height: 100px;
  width: 70px;
  transform: translate(0);
  position: absolute;
  animation: rotate1 3s linear forwards infinite;
  z-index: 0;
  top: 50%;
  transform-origin: top center;
}

.dark .example-2::before {
  background: linear-gradient(
    90deg,

    #ffffffe6 0%,
    rgba(102, 102, 102, 0.75) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}








@media screen and (max-width: 600px) {
  .dark-mode {
    width: 100vw;
    height: 100vh;
  }
}



@keyframes expand-circle {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width:100%;
    height:100vh;
    opacity: 1;
  }
}

.animate-expand-circle {
  animation: expand-circle 0.6s ease-out forwards;
}

@keyframes splashEffect {
  0% {
    transform: translate(100%, -100%) scale(0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 50%) scale(1.5);
    opacity: 0;
  }
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  pointer-events: none;
  z-index: 0;
  animation: splashEffect 0.8s ease-out forwards;
}
